<%-include('./partials/header')%>

<body class="newSearch">
      <h2 class= errorStatus>Error Status: <%= error.status %></h2>
      <h1><%= message %></h1> 
      <pre><%= error.stack %></pre>
 </body>
 <%-include('./partials/footer')%>
