<%-include('./partials/header')%>
 
  <body>
   


      <h2 class= errorStatus>Error Status: <%= error.status %></h2>
      <h1><%= message %></h1> 
      <pre><%= error.stack %></pre>
 
 <%-include('./partials/footer')%>
