<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Log</title>
</head>
<body class="flightsIndex">

    <header>
        <h1><%= title %></h1>
        <nav>
          <a href="/">Home</a>
          <a href="/flights">Flight Log </a>
          <a href="/flights/new">Flight Search</a>
          <a href="/destinations/new">Flight Destinations</a>
        </nav>
      </header> 
    <section class = "flightLog">
     
        <table class="flightTable" >
            <tr class="flightTableHeading">
            
                <th>Airline</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Flight Departure Number</th>
                <th>Flight Arrival Number </th>
                <th>Departure Date & Time</th>
                <th>Return Date & Time</th>
            </tr>
            <tr class="flightrow">
            <% flights.forEach(function(flight){%>
                
                <td class="airline">
                    <br>
                    <a href="flights/<%=flight.id%>"><button>Ticketing Details ➡  </button></a><%=flight.airline%>
            
                </td> 
                <td class="airport"><%=flight.airport%></td>
                <td class =arrivalAirport><%=flight.arrivalAirport%> </td>
                <td class= "arrivalFlightNo"><%=flight.arrivalFlightNo%></td>
                <td class= "flightNo"><%=flight.flightNo%></td>
                <td class="departs"><%=flight.departs%></td> 
                <td class="departs"><%=flight.returns%></td> 
            
             </tr>
             <% }) %>  
       </table>  
    </section>
</body>
</html>