<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Ticketing</title>
</head>
<body class="flightsIndex">

    <header>
       <h1><%= title  %> </h1>
        <nav>
          <a href="/">Home</a>
          <a href="/flights">Flight Log </a>
          <a href="/flights/new">Flight Search</a>
          <a href="/destinations/new">Flight Destinations</a>
        </nav>
      </header> 

      <p class="flightDetails">Please review & confirm the flight details below</p>
      
      <section>
      <table class="flightTable" >
        <tr class="flightTableHeading">
        
            <th>Airline</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Flight Departure Number</th>
            <th>Flight Arrival Number </th>
            <th>Departure Date & Time</th>
            <th>Return Date & Time</th>
            <th>Flight Destination  
             <form id="add-destination" method="POST" action="/flights/<%=flight._id%>/destinations">
              <select name="destination">
              <% destination.forEach(function(d){%>
               <option value="="><%=d.destination%> </option>
               <% })%>  
            </select>
            <input type="submit" value="Add Destination"></th>
        </form>
        </tr>
        <tr>
          <td><%= flight.airline  %> </td>
          <td><%= flight.airport  %> </td>
          <td><%= flight.arrivalAirport %> </td>
          <td><%= flight.flightNo  %> </td>
          <td><%= flight.arrivalFlightNo  %> </td>
          <td><%= flight.departs  %> </td>
          <td><%= flight.returns  %> </td>
          <td class="destinations"><% if (flight.destinations.length){%>  
           <% destination.forEach(function(d){%>
       <option><%= d.destination%></option>
        <% })%>
        <%} else{%>
        No additional destinations selected
        <%}%></td>

      </tr>
        </table>
      </section>
      <br>
      <br>
      <section class="bookTicket">
        <form class="ticketingInfo" method="POST" action="/flights/<%=flight._id%>/tickets"> 
          <p class="bookFlight">Book a flight</p>
          <div class="flightType">
            <input type="radio" name= "flightType" value="Round Trip">Round Trip
            <input type="radio" name="flightType" value="One Way">One Way
            <input type="radio" name="flightType" value="Multi-City">Multi-City
          </div>
          <br>
          <label for="cabinClass">Best Cabin Fares</label>
          <select name="cabinClass" class="cabinClass">
            <optgroup label="Cabin Fares">
              <option value="Economy">Basic Economy</option>
              <option value="Premium Economy">Premium Economy</option>
              <option value="Business">Business</option>
              <option value="First Class">First Class</option>
            </optgroup>
          </select>
          <br>
          Seat Selection:<input name="seat" required pattern="[A-F][1-9]\d?" placeholder="A10">
          <br>
          Price: $<input class="price" name="price" type="number" min="0">
          <br> 
          <input class="bookFlight" type="submit" value="Book Flight">
        </form>
      </section> 
        <br>
        <br>
      <section class="tickets">
        <% if (flight.tickets.length){ %> 
     <form  class="delete-form" name="_method" action="/flights/<%=flight._id%>?_method=DELETE" method="POST">     
      <table >
        <thead class="tickets">
          <tr>
            <th class="ticketingDetails" colspan="4">Ticketing Details</th>
          </tr>
          <tr>
            <th>Flight Type</th>
            <th>Cabin </th>
            <th>Ticket Seat</th>
            <th>Ticket Price</th>  
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %> 
          <% flight.tickets.forEach(function(t){  %> 
            <% total += t.price %> 
         <tr>
          <td class="flightType"><input name="_method" type="submit" value="Delete" ><%=t.flightType %></td>
          <td class="cabinClass"><%= t.cabinClass %> </td>
          <td class="seat"><%= t.seat%> </td>
          <td class="price">$<%= t.price %> </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3">Total</td>
        <td><strong>$<%=(total / flight.tickets.length.toFixed(2))%></strong></td>
      </tr> 
    </tbody>
</table>
</form>
<% }else{ %> 
  <strong><h5 class="noTicket"> No tickets have been requested for this flight</h5></strong>
<% } %> 
</section>
</body>
</html>